body{
    width:100%;
    margin:50px auto;

}

.bloc1 , .bloc2{
    float:left;
    border:1px solid black

}

.bloc1{
    width:500px;
    height:750px;
    float:left;

}

.bloc2{
    width:247px;
    height:250px;

}

body :nth-child(4){
    background:red;
}